.coverContainer {
}
.cover {
  background-image: url(../../assets/img/studio_ghibli.jpg);
  /* opacity: 40%; */
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentCoverContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  height: 70vh;
}

.imgLogo {
  height: 25vw;
  align-self: center;
}

.textCover {
  font-size: 10vmin;
  align-self: center;
}

@media (max-width: 767px) {
  .contentCoverContainer {
    flex-direction: column;
  }

  .textCover {
    font-size: 5vmax;
    align-self: center;
  }

  .imgLogo {
    height: 30vmax;
  }
}
